.notification{
    -fx-alignment: center;
    -fx-background-color: #3c3f41;
    -fx-border-color: derive(black, 90%);
    -fx-border-width: 1;
}

/**Custom header panel**/
.notification *.header-panel{
    -fx-background-color: #242526;
}
/**Custom header label**/
.notification *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-text-fill: white;
}
/**Custom text of body**/
.notification > *.label.content{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}
/**Custom button bar**/
.notification > *.button-bar > *.container{
    -fx-background-color: #3c3f41;
}
/**Customization of Buttons**/
.dialog-pane .button{
    -fx-background-color:#4a4849;
    -fx-text-fill:white;
    -fx-wrap-text: true;
    -fx-cursor:hand;
}
/**Custom button hover effect**/
.dialog-pane .button:hover{
    -fx-background-color: #242526;
    -fx-text-fill:white;
    -fx-effect: dropshadow( three-pass-box, grey, 1.0, 0.0, 0.0, 0.0);
}