#background {
    -fx-background-color: #2d2d2f;
}

.label {
    -fx-text-fill: white;
}

#minimizeButton {
    -fx-background-color:#2d2d2f;
    -fx-text-fill:white;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}
#minimizeButton.button:hover {
    -fx-background-color:grey;
    -fx-font-weight:bold;
}
#highlightedButton {
    -fx-background-color:#2d2d2f;
    -fx-text-fill:white;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}
#highlightedButton.button:hover {
    -fx-background-color:#ff0000;
    -fx-font-weight:bold;
}